.information.item
  .avatar
    img(src='#{information.avatar}' alt='my avatar')

  h1.name #{information.name}
  p.job #{information.job}

  ul.contact
    li.email
      i.fa.fa-envelope
      | #{information.email}
    li.mobile
      i.fa.fa-phone
      | #{information.mobile}
    li.github
      i.fa.fa-github
      | #{information.github}
    li.wechat
      i.fa.fa-wechat
      | #{information.wechat}